@import '../../node_modules/frow/sass/frow';

@import url("https://fonts.googleapis.com/css?family=Sansita|Source-Sans-Pro|Merriweather");

// fonts
$heading-font: 'Sansita', Georgia, sans-serif;
$paragraf-font: 'Source Sans Pro', Georgia, sans-serif;
$font-alt: 'Merriweather', serif;

// colors
$background-color: #FFF;
$highlight: rgba(250, 250, 0, 0.7);
$link-color: #642525;
$grey: #343434;
$turkos: #50a5a8;
$red: #8c1e1e;

// universal
html, body {
  margin: 0;
  font: 20px/1.4 $paragraf-font;
  color: #57676e;
  webkit-font-smoothing: antialiased;
  background-color: $background-color; 
}

*, *:after, *:before, select {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

// typography
h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font;
	letter-spacing: 0.1rem;
	line-height: 1.3;
  text-transform: uppercase;
}

.heading {
  margin-top: 3rem;
  margin-bottom: 1rem;
  color: #8c1e1e;
}

//links
a {
  text-decoration: none;
  color: $grey;

  &:link {
    text-decoration: none;
  }

  &:hover{
    text-decoration: underline;
    color: $link-color;
  }
}

// utility
.text-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}




/*********************
 *      HEADER      *
 *********************/
// Styles the round picture in the top right corner
.header-avatar {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    max-width: 200px;
    height: auto;
    border: 2px solid #000;
    float:right;
    margin: 1rem 2rem 0 0;
}

.header-hero {
  background-image: url("../images/bg.jpg");
  background-attachment: fixed;
  background-position: 80% 30%;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: overlay;
  margin-bottom: 2rem;
  color: black; 
  height: 220px;
}

.header-content {
  margin: 3rem 1rem 3rem 3rem;
}

.header-hero-text {
  font-size: 1.7rem;
  line-height: 1.4;
  font-family: $font-alt;
  text-transform: none;
  background-color: $highlight;
  display: inline;                                      // fix side padding 
  box-shadow: 8px 0 0 $highlight, -8px 0 0 $highlight;  // fix side padding
  opacity: 0.8;
  color: #000;
}

.header-navigation {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: $heading-font;
  margin-top: 1rem;
}

.header-navigation li {
  display: inline;
  padding-right: 1rem;
}

.header-navigation ul {
  padding-top: 3rem;
}
.header-navigation a {
  color: #000;
  font-size: 1.1rem;
}




/*********************
 *      PROJECT      *
 *********************/

.project-box {
  position: relative;
  margin-bottom: 1.5rem;
}


// To display on hover
.project-media {
  position: absolute;
  z-index: 1;
  opacity: 0.08;
  transition: all, 0.1s, ease-in-out;
  &:hover {
      transition: all, 0.1s, ease-in-out;
      opacity: 1;
  };
}

.project-media img {
  width: 100%;
  min-height: 200px;
  object-fit: cover;
  overflow: hidden;
  object-position: 0% 50%; 
  filter: greyscale(0.9);
  //opacity: 0.8;
  cursor: pointer;
}

.project-description {
    top: 0;
    width: 100%;
    height: 450px;
    color: #000;   
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: flex-start;
    padding: 0 2rem;

}

/*********************
 *      CONTACT      *
 *********************/
.contact-icones {
  margin-top: 1rem;
}

.contact-icones span {
  padding: 0.7rem;

  &:hover {
    transition: all .3s ease;
    transform: scale(1.1);
  }
}



/*********************
 *       FOOTER      *
 *********************/ 

.footer-hero {
  background-image: url("../images/bg.jpg");
  background-attachment: fixed;
  background-position: 80% 30%;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: overlay;
  height: 200px;
  color: black; 
  margin-top: 5rem;
}

.footer-content {
  height: 80px;
  background-color: $highlight;
}

.footer-content span {
  padding: 1rem;
}

/* Add animation to content (sliding from bottom when loaded) */
.animate-content {
  position: relative;
  animation-name: animatecontent;
  animation-duration: 1s
}

@keyframes animatecontent { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}


.frow {
  //background-color: #c0c0c0;
}

.frow div {
  //background-color: #50a5a8;
}





